.cart-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
    z-index: -1;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .cart-item-name {
    font-size: 18px;
    color: #333;
  }
  
  .cart-item-price {
    font-size: 16px;
    color: #007bff;
  }
  
  .cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .cart-empty {
    font-weight: 700;
    margin: auto;
    margin-bottom: 100px;
  }
  
  .checkout-btn {
    background-color: #cccccc !important;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: default !important;
    transition: background-color 0.3s;
    margin-top: 20px;
  }

  .checkout-btn-back {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: default !important;
    transition: background-color 0.3s;
    margin-top: 20px;
  } 
  
  .checkout-btn-back :hover {
    background-color: #0056b3;
  }
  
  .delete {
    position: absolute;
    font-size: 25px;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
  
  .delete:hover {
    color: red;
    transform: scale(1.1);
  }