body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #222;
  color: white;
  z-index: 999;
}
.main-content {
  padding-bottom: 60px;
  padding-top: 40px;
  min-height: 100vh;
}
.logo {
  margin: 0;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.logo:hover {
  transform: scale(1.01);
}

.logo-semicolor {
  color: #007bff;
}

nav {
  padding-right: 50px;
}


.nav-links li {
  margin-left: 20px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #007bff;
}
.hero {
  text-align: center;
  padding: 50px;
  background: #eee;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  transition: background 0.3s ease;
}
.btn:hover {
  background: #0056b3;
}
.products {
  text-align: center;
  padding: 20px;
}
.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.product {
  border: 1px solid #ddd;
  padding: 10px;
  width: 150px;
}
.footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
  width: 100%;
  bottom: 0;
}

form button {
  margin: auto;
}

/* modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  outline: none;
  width: 300px;
  text-align: center;
}

.delete-btn {
  width: 45%;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.cancel-btn {
  width: 45%;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}